html{
	height: 100%;
}

body{
	background: rgb(255,255,209);
	background: linear-gradient(0deg, rgba(255,255,209,1) 0%, rgba(213,224,137,1) 38%, rgba(135,138,119,1) 68%, rgba(15,15,14,1) 100%);
	height: 100%;
}

.poem{
  	width:1200px;
  	font-family: Gill Sans;
	font-size: 40px;
	background:none;
	text-align: center;
	display:block;
	color:#e9eaeb;
	text-shadow:0 0 40px #e9eaeb;
	margin-top:150px;
}
}

.style1{
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}