body {
	background: #F9FBD1;
	font-family: Helvetica;
	font-size: 18px;
}

.container{
	background: PeachPuff;
	border: 5px solid LightSalmon;
	padding: 15px;
	margin: 30px auto;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /* Firefox */
    column-gap: 50px;
    -webkit-column-rule: 4px dotted LightSalmon; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px dotted LightSalmon; /* Firefox */
    column-rule: 4px dotted LightSalmon;
}

h1{
	color: DarkGreen;
	text-align: center;
	background: #CEF49D;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}

h2{
	color: Sienna;
	text-transform: uppercase;
	text-align:center;
}

#table-of-contents{
	font-size: 20px;
	color: black;
	padding-bottom: 20px;
	padding-top: 20px;
}

#table-of-contents a {
	color: black;
	display: block;
	padding-bottom: 10px;
	text-decoration: none;
	padding-top:10px;
}

#table-of-contents a:hover { 
	color: DarkGreen; 
	background: #CEF49D;
	text-decoration: none;
	width: 500px;
	padding-top:10px;
}

img {
	border: 10px solid LightSalmon;
	background-color: LigthSalmon;
	width: 90%;
	align-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

a#back-to-top {
	width: 200px;
	height: 75px;
	background: LightSalmon;
	border: 3px solid ##F9FBD1;
	display: block;
	margin: 20px auto;
	text-align: center;
	border-radius: 20px;
}

a#back-to-top:hover {
	background: #CEF49D;
	color: DarkGreen;
}

a#back-to-top span {
	display: block;
	padding-top: 25px;
}


#back-to-top {text-decoration: none;
font-size: 20px;
color: white}



